:root {
  --background-color: #0a192e;
  --default-color: #8892b0;
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --tertiary-color: #a8b2d1;
  --third-color: #ccd7f5;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--Default-font-family);
  background-color: var(--background-color);
  color: var(--default-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 96px;
  color: var(--third-color);
  text-align: center;
}

h3 {
  color: var(--default-color);
}

p {
  font-family: var(--default-font-family);
  color: var(--tertiary-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

ul {
  list-style-type: none;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(#272142);
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.content-container {
  padding: 160px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
  color: var(--third-color);
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

.img-fluid {
  height: 700px;
}

.weather {
  height: 600px;
}

.anime {
  height: 600px;
}

.basics,
.plus {
  height: 400px;
}

.certificates {
  text-align: center;
  font-family: var(--default-font);
  font-size: 30px;
  max-width: 80%;
  margin: 0 auto;
}

.recent-projects {
  text-align: center;
  font-family: var(--default-font);
  font-size: 30px;
  max-width: 80%;
  margin: 0 auto;
  height: 350px;
}

.project-tech-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: -40px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 56px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    margin-top: 10px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}

.fa-brands {
  font-weight: 400;
  font-family: "Font Awesome 6 Brands";
}

#typewriter {
  font-size: 30px;
  padding: 60px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
